$color-dark: #262626;
$color-black: #000;
$color-primary: #d3ab55;
$color-secondary: #bbb;

$font-dancingScript: "Dancing Script", cursive;
$font-josefinSans: "Josefin Sans", sans-serif;
$font-nunito: "Nunito", sans-serif;
$font-IranSans: IranSans, sans-serif;
@font-face {
    font-family: IranSans;
    src: url(../IRANSans/eot/IRANSansWeb.eot);
    src: url(../IRANSans/ttf/IRANSansWeb.ttf),
    url(../IRANSans/woff/IRANSansWeb.woff),
    url(../IRANSans/woff2/IRANSansWeb.woff2);
    font-weight: normal;
}
@mixin flexLayout {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin textStyle {
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
}
@mixin centring($topValue) {
    position: absolute;
    top: $topValue;
    left: 50%;
    transform: translate(-50% , -50%);
}
*{
    padding: 0;
    margin: 0;
}
body{
    background-color: $color-dark;
}