.header {
  width: 100%;
  height: 100vh;
  position: relative;
  background: linear-gradient(rgba($color-black, 0.8), rgba($color-black, 0.6)),
    url(../images/bg.jpeg) center no-repeat;
  background-size: cover;

  .brand {
    @include centring(15%);
    @include flexLayout;
  }
  &-banner {
    text-align: center;
    @include centring(60%);
  }
}
.about-us {
    height: 90vh;
    display: flex;
    align-items: center;

    &-left{
        width: 40%;

        img{
            width: 100%;
        }
    }

    &-right{
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 80px;
        box-sizing: border-box;

        .main-heading{
            font-size: 35px;
            margin-bottom: 25px;
        }
        .sub-heading{
            font-size: 18px;
            margin-bottom: 10px;
        }
        .stars{
            margin: 20px 0;
        }
        .star{
            font-size: 15px;
            color: $color-primary;
            margin-left: 10px;
        }
        .description{
            font-family: $font-IranSans;
            font-size: 12px;
            color: $color-secondary;
            direction: rtl;
            text-align: justify;
            line-height: 2;
            &::first-letter{
                padding-right: 30px;
            }
        }
    }
}
